*.user
*~
**/build/*
**/lib/*
*.kdev4
**/KeyFrameTrajectory.txt
**/KeyFrameNavStateTrajectory.txt
*.autosave
**/tmp/*
**/debug.txt
**.tags
**.tags_sorted_by_file
**/build*/*
.tags
.tags_sorted_by_file
Vocabulary/*
config/*
Examples/ROS/ORB_VIO/VIO
Examples/Monocular/ORBVIO_euroc
Examples/Monocular/StereoORBVIO_euroc



